.container{
    position: relative;
}



.loadingPostsParagraph{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background: rgba(255,255,255, 0.7);
    padding: 10px 0px;
}


.circleeee{
    width: 100vw;
    height: 100vh;
    background: pink;
}

.post_div{
    margin: 50px 0px;
    padding: 0;
}

.post_container{
    background: var(--background-secondary);
    margin: 50px 0px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    transition: 0.2s ease;
}

.post_container:hover{
    background-color: rgba(0,0,0, 0.2);
    background: silver;
}


.noPostsMessage_div{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: silver;
    font-size: 1.1rem;
}



.noLoadedPosts_div{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.noLoadedPosts_div p{
    color: silver;
}