

.container_wrapper{
    position: relative;
    width: 100%;
    margin: 8px 0px 5px 0px;
    height: 120px;
}

.community_private_div{
    display: flex;
    justify-content: center;
}

.community_private_div div{
    background: rgba(255,255,255,0.1);
    margin: 0px 10px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
}


.community_btn{
    color: darkgrey;
    width: 100%;
}


.activeGroup{
    background-color: var(--pink_opaque);
    color: black;
}


.community_btn:hover{
   color: black;
}


.container{
    width: 100%;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: absolute;
    top: 65px;

  
    border-bottom: 1px solid var(--pink);

}



.container div{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}




.filter_btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9rem;
    color: darkgrey;

}

.filter_btn:hover{
    color: #F7567C;
}





@media screen and (max-width: 800px){
    .filter_btn{
        font-size: 1rem;
    }
}


@media screen and (max-width: 500px){
    .filter_btn{
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 430px){

    .container_dark, .container_light{
        display: none;
    }

    .container_wrapper{
        top: -10px;
        height: 220px;
    
    

    }

    
    .container{
        margin: 0;
        flex-direction: column;
        height: 140px;
        border-top: 1px solid var(--pink);
 
    }

    .container div{
        flex-direction: column;
        margin: 0;
        margin: 8px 0px;
    }

    .filter_btn{
        margin: 0;
    }
    

}
