

.container_wrapper{
    height: 100px;
    position: relative;
    width: 100%;
    margin: 5px 0px;
}

.container{
    width: 100%;
    height: 50px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: absolute;
    top: 20px;

}


.container_light{
    border-bottom: 2px solid silver;
}

.container_dark{
    border-bottom: 2px solid black;
}


.container div{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter_btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9rem;
    color: darkgrey;
}

.filter_btn:hover{
    color: #F7567C;
}





@media screen and (max-width: 800px){
    .filter_btn{
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 500px){
    .filter_btn{
        font-size: 0.7rem;
    }
}


@media screen and (max-width: 430px){

    .container_dark, .container_light{
        display: none;
    }

     .container_wrapper{
        height: 0px;

    }

    .container{
        margin: 0;
        flex-direction: column;
        height: 140px;
 
    }

    .container div{
        margin: 0;
        margin: 8px 0px;
    }

}
