

.post_container, .post_container_dark{
    padding: 0;
    position: relative;
    background: var(--post_div_light);
}

.post_container:hover{
    background: var(--post_div);
}


.post_container_dark{
    background: rgba(255,255,255,0.5);
}

.post_container_dark:hover{
   background: lightgrey;
}




/* POST RATING */

.postRating{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: end;
    align-items:end;
    position: absolute;
    right: 25px;
    top: 20px;
}

.vote_div{
    display: flex;
}

.postArrowUp_dark, .postArrowUp{
    font-size: 1.3rem;
    margin: 0px 5px;
}


/* POST FIELD */


.header_div{
    padding: 5px;
}


.header span{
    font-size: 1.3rem;
}


.post_title_dark, .post_title{
    padding: 5px;
    font-size: 1.3rem;
}

.post_text{
    padding: 5px 10px;
}

.upvoted{
    color: green;
}

.downvoted{
    color: red;
}

.info_p{
    color: var(--pink);
    font-size: 0.9rem;
}

/* POST INTERACTION */


.postInteraction{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  
}

.interaction_div{
    width: 100px;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.icon{
    font-size: 1.3rem;
    transition: 0.2s ease;
    cursor: pointer;
}

.icon:hover{
    color: var(--pink_opaque);
}







@media screen and (max-width: 500px){
    .post_container{
        padding: 5px;
    }
}


