

.post_container{
    padding: 0;
    position: relative;
}




/* POST RATING */

.postRating{
    display: flex;
    padding: 5px;
    justify-content: end;
    position: absolute;
    right: 10px;
    top: 10px;
}

.postArrowUp_dark, .postArrowUp{
    font-size: 1.3rem;
    margin: 0px 5px;
}


/* POST FIELD */


.header_div{
    padding: 5px;
}



.header span{
    font-size: 1.3rem;
}


.post_title_dark, .post_title{
    padding: 5px;
    font-size: 1.3rem;
}

.post_text{
    padding: 5px 10px;
}


/* POST INTERACTION */


.postInteraction{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  
}

.interaction_div{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.icon{
    font-size: 1.8rem;
}

.comments{
    font-size: 0.9rem;
    padding: 2px;
}




@media screen and (max-width: 500px){
    .post_container{
        padding: 5px;
    }
}


