

.container{
    position: relative;
    background: rgba(255,255,255, 0.5);
    z-index: 10000;
    border-radius: 5px;
    padding: 20px 10px;
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    color: beige;
    overflow: scroll;
    top: 0;
    left:0px;
    background: var(--background_dark);
    border-right: 1px solid grey;
}



.container_light{
    background: var(--background_light);
    color: black;
}

.container_dark {
    color: beige;
    background: var(--background_dark)
}

.closeMenu_btn{
    display: inline-block;
    position: absolute;
    right: 15px;
    font-size: 1.3rem;
    font-weight: bolder;
    width: 40px;
    height: 40px;
}


.toggle_div{
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
    border-top: 1px solid black;
    height: 50px;
}



.logout_btn{
    border: none;
    background: transparent;
    padding: 5px 0px;
    position: absolute;
    bottom: 0px;
    left: 0;
    bottom: 20px;
    height: 30px;
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 1px;
}

.logout_btn{
    color: #F7567C;
    height: 40px;
    padding: 5px 0px;
}

.logout_btn:hover{
    background: #F7567C;
    color: white;
    box-shadow: 0px 0px 3px grey;
}






@media screen and (max-width: 1300px){


    .container{
        width: 60%;
        height: 100vh;
    }

}




@media screen and (max-width: 600px){


    .container{
        width: 100%;
    } 
}


@media screen and (max-width: 400px){


    .container{
        width: 100%;
        min-height: 105vh;
    }
    
}

@media screen and (max-width: 300px){
    .container{
        min-height: 103vh;
    }
}