

.container_dark, .container_light{
    margin-top: -20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container_dark{
    background: var(--background_dark);
}



.comment_wrapper{
    display: flex;
    width: 100%;
}

.post_dark, .post_light{
    padding: 10px;
    width: 71%;
    position: relative;
}

.webUser_div{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 100%;
    margin: 20px;
}

.post_div, .post_div_dark{
    width: 100%;
}

.post_div_dark{
    background: rgba(255,255,255, 0.2);
}


.loading_post_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.loadingSpinner{
    height: 50px;
    color: beige;
    font-size: 3rem;
}







.go_back_btn{
    color: grey;
    height: 50px;
    margin-bottom: 30px;
    font-size: 1.3rem;
    cursor: pointer;
}




@media screen and (max-width: 1600px){

    .webUser_div{
        margin: 5px;
    }

    
   .post_dark, .post_light{
       width: 64%;
   }
}



@media screen and (max-width: 1400px){

    .go_back_dark, .go_back{
        right: 0;
    }
}

@media screen and (max-width: 1200px){

    .webUser_div{
        display: none;
    }

     .post_dark, .post_light{
       width: 100%;
   }
}

@media screen and (max-width: 1000px){
    .createComment_div textarea, .createComment_div button{
        width: 95%;
    }

     .post_dark, .post_light{
        width: 100%;
    }

  
}

@media screen and (max-width: 600px){


    .post_dark, .post_light{
        padding: 0;
    }

    .post_div, .post_div_dark{
        width: 100%;
        margin: 0;

    }
    .go_back_dark, .go_back{
        top: 5px;
       
    }

   
}




