
.search_container{
    display: flex;
    align-items: center;
    position: relative;
    width: 60vw;
    margin: 0;
    padding: 0 20px;
}

.search_div{
    position: relative;
    width: 700px;
}


.searchInput{
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-left: 20px;
    border: none;
    background: transparent;
    border: 2px solid silver;
}



.search_btn{
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    right: -17px;
    top: 0;
    font-size: 1.7rem;
    border: 2px solid silver;
    border-radius: 50%;
    background: var(--background-primary);
}

.search_btn:hover{
    color: var(--pink);
}



.searchInput:focus{
    outline: none;
}




@media screen and (max-width: 900px){

    .search_div{
        width: 100%;
    }


    .search_btn{
        top: 0;
    }

}


@media screen and (max-width: 400px){

     .search_div{
        width: 100%;
    }

}
