
.search_container{
    display: flex;
    width: 600px;
    align-items: center;
    position: relative;
    width: 60vw;




    /*border: 2px solid blue;*/
}


.searchInput{
    width: 97.5%;
    height: 50px;
    padding: 10px;
    padding-left: 20px;
    border: none;
    background: transparent;
    border: 2px solid silver;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    
}

.search_btn{
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    right: 3px;
    font-size: 1.7rem;
    

    border: 2px solid silver;
    border-radius: 50%;
    background: var(--background-primary);
}



.searchInput:focus{
    outline: none;
}





@media screen and (max-width: 1300px){

 

    .searchInput{
        width: 100%;
    }

    .search_btn{
        right: -23px;
    }

  

}


@media screen and (max-width: 1000px){

    .search_container{
        width: 70vw;
        left: 40px;
    }

}

@media screen and (max-width: 900px){

    .search_container{
        width: 60vw;
    }

 

    .search_btn:hover{
        border: 2px solid var(--hover-font-dark);
     }

}


@media screen and (max-width: 600px){


     .search_container{
        width: 60vw;
        left: 20px;
    }

}
