
.container{
    position: relative;
}

.loading_entries_p{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background: rgba(255,255,255, 0.5);
    padding: 5px;

}

/*
.title{
    font-size: 1.3rem;
    margin: 20px 5px;
    color: var(--hover-font-dark);
    border: 2px solid red;
}

.title_darkmode{
    font-size: 1.3rem;
    margin: 20px 5px;
    color: silver;
}


.diarypost_div{
    border: 2px solid transparent;
    position: relative;

}


.options_div{
    height: 5vh;
    display: flex;
    position: relative;
}*/


.image_div{
    margin: 10px 0px;
}

.image_options_div{
    position: relative;
    margin: 5px 0px;
}

.img{
    margin-bottom: 40px;
    box-shadow: 0px 0px 3px grey;
    height: 800px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}


/*
.link, .link_first{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 3px;
    width: 200px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;

}

.link_darkmode, .link_darkmode_first{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 3px;
    width: 200px;
    color: silver;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.link_darkmode_first, .link_first{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
*/

.img_link, .img_link_dark{
    padding: 5px 0px;
    transition: 0.2s ease;
    font-size: 1.2rem;
}

.img_link_dark{
    color: beige;
}

.delete_btn, .delete_btn_dark{
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0px;
    transition: 0.2s ease;
}

.delete_btn_dark{
    color: beige;
}

.img_link:hover, .img_link_dark:hover, .delete_btn:hover, .delete_btn_dark:hover{
    color: var(--pink_opaque);
}



.link:hover, .delete_btn:hover, .link_darkmode:hover, .link_darkmode_first:hover, .link_first:hover{
    color: var(--pink_opaque);
}


.modal_container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    background: var(--pink_opaque);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_p{
    font-size: 1.5rem;
    margin: 10px 0px;
    background: rgba(255,255,255, 0.5);
    width: 100%;
    text-align: center;
    padding: 5px;
}


.modal_div{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0px;
}

.delete_yes, .delete_no{
    width: 25%;
    height: 40px;
    margin: 0px 10px;
    background: rgba(255,255,255, 0.5);
    cursor: pointer;
}

@media screen and (max-width: 900px){

    .img{
        height: 500px;
    }
}

@media screen and (max-width: 400px){


    .link_darkmode_first, .link_first{
        margin: 50px 0px 20px 0px;
    }

  
}