


.container, .container_dark{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container_dark{
    background: var(--background_dark);
}

.diarypost_div{
    display: flex;
    flex-direction: column;
   
    
}

.info_div{
    display: flex;
    width: 100%;
    justify-content: center;

    
}

.img{
    width: 50%;
    height: 800px;
    object-fit: cover;
    margin-right:  5px;
  
}

.text_div{
    width: 50%;
    height: 100vh;
    margin-left: 5px;
    padding: 20px 0px;
    position: relative;
    overflow: scroll;
}

.title_div{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    border-bottom: 0.5px solid silver;
    margin-right: 10px;
}

.backToOverview{
    color: var(--pink);
    position: absolute;
    top: -3px;
    right: 35px;
    display: flex;
    justify-content:center;
    transition: 0.2s ease;
}

.backToOverview:hover{
    transform: scale(1.02)
}


.title,  .title_dark{
    font-size: 1.5rem;
    padding: 3px;
}

.date, .date_dark{
    font-size: 1.1rem;
    padding: 3px;
    display: flex;
    align-items: center;
}

.date_dark{
    color: rgba(255,255,255, 0.4);
}


.description, .description_dark{
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
}

.description_dark, .title_dark{
    color: silver;
}


.fourOfour_div{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notFound_p{
    font-size: 1.3rem;
}
.goBack_link{
    font-size: 1.1rem;
    color: var(--pink_opaque);
}

.goBack_link:hover{
    color: var(--pink);
}



@media screen and (max-width: 1000px){
    .info_div{
        flex-direction: column-reverse;
    }

    .img{
        width: 100%;
    }

    .text_div{
        width: 100%;
    }
}


@media screen and (max-width: 600px){
    
    .title_div{
        margin-bottom: 15px;
        flex-direction: column-reverse;
        padding: 5px 0px;
    }

    .title, .title_dark{
        font-size: 1.4rem;
        margin: 4px 0px;
        border: none;
    }

    .date, .date_dark{
        font-size: 1rem;
    }
}