

.container{
    background: white;
    min-height: 100vh;
}


.container_dark{
    background: var(--background_dark);
    min-height: 100vh;
}



.image_wrapper{
    display: flex;
}

.image_div{
    width: 50%;
    height: 100vh;
}

.image{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    padding: 20px;
}

.info_div{
    width: 50%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title{
    background: rgba(255,255,255, 0.2);
    padding: 20px;
    width: 90%;
    font-size: 1.1rem;
   
}


.info{
    color: silver;
    font-size: 1.7rem;
    padding: 20px;
    border-top: 0.5px solid silver;
    border-bottom: 0.5px solid silver;
    width: 90%;
    height: 90%;
    margin: 10px 0px;
    overflow: scroll;
}

.info_light{
    font-size: 1.7rem;
    padding: 20px;
    border-top: 0.5px solid silver;
    border-bottom: 0.5px solid silver;
    width: 90%;
    height: 90%;
    margin: 10px 0px;
    overflow: scroll;
}