

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background: white;
    overflow-x: hidden;
    
}

.container_dark{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background: var(--background_dark);
    width: 100vw;
    overflow-x: hidden;

    
    
    
}


.main_container{
    display: flex;
    position: relative;
    padding: 20px 0px;

}


.output_field{
    border-radius: 5px;
    width: 50vw;
    min-height: 500vh;
    margin: 5px;
    transition: 0.4s ease;

}


@media screen and (max-width: 1200px){
    .output_field{
        width: 80vw;
    }

    .webUser_container{
        transition: 0.4s ease;
        display: none;
    }
}



@media screen and (max-width: 600px){
    .output_field{
        width: 96vw;
    }

  
}
