

.container{
    display: flex;
    justify-content: center;
    position: relative;
    background: white;
    margin: 0;
    width: 100vw;

}

.container_dark{
    display: flex;
    justify-content: center;
    position: relative;
    background: var(--background_dark);
    width: 100vw;
    min-height: 100vh;
}

.webUser_div{
    position: relative;
    left: 20px;
}

.main_container{
    display: flex;
    position: relative;
    padding: 20px 0px;


}


.output_field{
    border-radius: 5px;
    width: 50vw;
    margin: 5px;
}




@media screen and (max-width: 1200px){
    .output_field{
        width: 80vw;
        
    }

    .webUser_container{
        display: none;
    }

    .webUser_div{
        left: 0;
    }
}



@media screen and (max-width: 600px){
    .output_field{
        width: 96vw;
    }
}

@media screen and (max-width: 400px){

    .container{
        padding: 0;
        margin: 20px 0px;
        position: relative;
        left: 20px;
 
        /*border: 2px solid purple;*/
    }

    .main_container{
        /*border: 2px solid red;*/

        padding: 0;
    }

    .output_field{
        width: 100vw;
        margin: 0;
        display: flex;
        justify-content: center;
        width: 110vw;
        
    }
}