

.container_dark{
    background: var(--background_dark);
    margin-top: -20px;
    min-height: 100vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    

}

.container_light{
    margin-top: -20px;
    min-height: 100vh;
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
     
    
}


.post_dark {
 
    width: 100vw;
    padding: 10px;
  
}


.loading_post_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.loadingSpinner{
    height: 50px;
    color: beige;
    font-size: 3rem;
}




.comments_container{
    transition: 0.4s ease;
    padding: 20px;
    width: 100vw;
    min-height: 50vh;
    margin-bottom: 50px;
   
    
}

.comments_container_dark{
    transition: 0.4s ease;
    padding: 20px;
    width: 100vw;
    min-height: 50vh;
    margin-bottom: 50px;
    margin-top: 10px;
}



.comments_title{
    color: var(--pink);
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 5px;
    border-bottom: 1px solid grey;
}

.go_back_dark{
    margin: 20px;
    position: absolute;
    right: 10px;
    top: 40px;
    color: grey;
    padding: 10px;
 
}

.go_back{
     margin: 20px;
    position: absolute;
    right: 10px;
    top: 40px;
    color: grey;
    padding: 10px;

}



.go_back_icon{
    font-size: 2rem;
    cursor: pointer;
    transition: 0.4s ease;
}

.go_back_icon:hover{
    color: var(--pink)

}

.go_back_btn{
    color: grey;
    height: 50px;
    margin: 40px;
    font-size: 1.3rem;
    cursor: pointer;
}


@media screen and (max-width: 1400px){

    .go_back_dark, .go_back{
        right: 0;
    }
}



@media screen and (max-width: 600px){

    .go_back_dark, .go_back{
        top: 5px;
       
    }

   
}


/*------------------------- comment section -------------------------------*/


.comment_container{
    border-bottom: 1px solid grey;
    margin: 20px 10px;
    padding: 5px;
    display: flex;
    height: 120px;
}

.image_container{
    background: red;
    width: 10%;
    height: 100px;
    margin: 0px 20px;

}


.comment_user_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.comment_text_container{
    width: 95%;
    overflow: scroll;
    cursor: pointer;
}


.comment_title_light{
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--pink);
}

.comment_title_dark{
    font-size: 1.4rem;
    color: var(--pink);
    font-weight: bolder;
    

}

.comment_text_light{
    font-size: 1.2rem;
}


.comment_text_dark{
    font-size: 1.2rem;
    color: beige;
}