

.container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    left: 20px;
    height:100%;
}


.fixed_div{
    position: sticky;
    top: 20px;
    height: fit-content; 
    z-index: 1000;

}

.dark{
    background: var(--background_dark);
    position: sticky;
}

.light{
    background:white;
    position: sticky;
}

.spaceImage{
    height: 50px; 
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.home_container{
   display: flex;
   position: relative;
   top: -27px;
}



.users_image_mini{
    box-shadow: 0px 0px 4px grey;
    margin: 15px;
    margin-bottom: 0px;
}


.users_name{
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 1.2rem;
}

.info_paragraph_container{
    padding: 4px;
}

.info_paragraph_container p{
    line-height: 20px;
    font-size: 1rem;
}

.btn_container{
    border-top: 1px solid grey;
    padding: 4px;
    display: flex;
    flex-direction: column;
    

}

.link{
    margin: 10px 0px;
    height: 40px;

    border: none;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    background-color: rgba(255,255,255, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.link:active{
    transform: scale(0.99);
}











@media screen and ( max-width: 1250px){
    .container{
        left: 0;
    }
}


@media screen and (max-width: 1000px){
    .container{
       display: none;
    }

    
   
    .MobileUser_container p{
        display: flex;
        position: absolute;
        font-size: 3rem;
        font-weight: bolder;
        right: -5px;
        bottom: -12px;
        opacity: 0.6;
        color: var(--pink);
    }
   
}