
.container{
    display: flex;
    flex-direction: column;
}


.profile_wrapper{
    display: flex;
    width: 100%;
}


.settings_wrapper{
    width: 60%;
    margin-right: 70px;

}



.container_dark{
    background:var(--background_dark);
    color: var(--primary_font_color_dark);
    min-height: 200vh;
}


.settings_title{
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 1.4rem;
}



.title{
    margin: 20px 10px;
    font-size: 1.5rem;
}



.ProfileSettings_div{
    margin: 50px 0px;
    padding: 10px;
    width: 100%;
    min-height: 10vh;
    background: var(--background_dark_opaque);
    box-shadow: 2px 2px 2px grey;

}

.setting_title{
    border-bottom: 2px solid grey;
    font-size: 1.3rem;
    margin: 5px;
    padding: 2px;
}


.setting_paragraph{
    margin: 5px;
    padding: 2px;
}




.settings_output_container{
    min-height: 78vh;
    padding: 20px;
    margin: 20px 0px;
}


@media screen and (max-width: 1200px){

  .webUser_div{
      border: 5px solid orange;
  }

    .settings_link{
        margin: 5px 20px;
        font-size: 1rem;
        border: 2px solid orange;
    }

    .settings_link_web{
        display: none;
    }

    .settings_links_mobile{
        display: flex;
        align-items: center;
        margin: 5px;
    }
}