
.container{
    display: flex;
    flex-direction: column;
}



.settings_wrapper{
    width: 60%;
    margin: 0px 10px;
    margin-right: 70px;
}


.container_dark{
    background:var(--background_dark);
    color: var(--primary_font_color_dark);
    min-height: 200vh;
}


.settings_title{
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 1.4rem;
}



.title{
    margin: 20px 10px;
    font-size: 1.5rem;
}



.ProfileSettings_div{
    border-top: 2px solid grey;
    padding: 10px;
    width: 100%;
    min-height: 140vh;
}




.settings_output_container{
    min-height: 78vh;
    padding: 20px;
    margin: 20px 0px;
}


@media screen and (max-width: 1200px){

  

    .settings_link{
        margin: 5px 20px;
        font-size: 1rem;

    }

    .settings_link_web{
        display: none;
    }

    .settings_links_mobile{
        display: flex;
        align-items: center;
        margin: 5px;
    }
}