
.container{
    display: flex;
    flex-direction: column;
}



.settings_wrapper{
    width: 60%;
    margin: 0px 10px;
    margin-right: 70px;
}


.container_dark{
    background:var(--background_dark);
    color: var(--primary_font_color_dark);
    min-height: 200vh;
}


.settings_title{
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 1.4rem;
}


.settings_div{
    display: flex;
    margin-top: 15px;
    border-bottom: 2px solid grey;
    position: relative;
}


.active{
    color: var(--pink);
}

.settings_link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings_link_web{
    margin: 5px 20px;
    display: flex;
    align-items: center;
    display: inline-block;
}

 .settings_links_mobile{
     display: none;
     transition: 0.4s ease;
 }


.settings_link, .home_button{
    margin: 5px 10px;
    font-size: 1rem;
}

.home_button{
    position: absolute;
    right: 10px;
    font-size: 1.3rem;
}

.settings_output_container{
    min-height: 78vh;
    padding: 20px;
    margin: 20px 0px;
}


@media screen and (max-width: 1200px){

  

    .settings_link{
        margin: 5px 20px;
        font-size: 1rem;

    }

    .settings_link_web{
        display: none;
    }

    .settings_links_mobile{
        display: flex;
        align-items: center;
        margin: 5px;
    }
}