

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container_dark{
    background: var(--background_dark);
    color: var(--primary_font_color_dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_container{
    width: 100vw;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}