

.container{
    display: flex;
    justify-content: center;
   
}

.container_dark{
    display: flex;
    justify-content: center;
    background:var(--background_dark);
    color: var(--primary_font_color_dark);
}

.profile_container{
    width: 80%;
}

.title_container{
    border-bottom: 2px solid grey;
    width: 100vw;
    display: flex;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 10vh;
    color: grey;
    font-size: 1.5rem;
    letter-spacing: 1px;
}



.profile_div{
    margin: 40px 0px;
    width: 100%;
    min-height: 80vh;
    position: relative;
    display: flex;

}



.usersData_div{
    width: 100%;
    height: 100%;
    padding: 20px;
}


.image_div{
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
}

.image_wrapper_light{
    background: linear-gradient(45deg, #F7567C, white);
}

.image_wrapper_dark{
    background: linear-gradient(45deg, #F7567C, var(--background_dark));
}

.image_wrapper{
    position: relative;
    left: 10px;
    width: 170px;
    height: 170px;
    padding: 5px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.users_image{
    z-index: 1000;
    width: 99%;
    height: 99%;
    border-radius: 5px;
}

.profileSettings_link{
    position: absolute;
    z-index: 1000;
    top: -30px;
    right: -15px;
    font-size: 3rem;
    transition: 0.2s ease;
}

.profileSettings_link:hover{
    color: var(--pink);

}

.userData_title{
    height: 10%;
    color: var(--pink);
    border-bottom: 2px solid grey;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 1.5rem;
}


.userData_subtitle{
    margin: 40px;
    border-bottom: 1px solid grey;
}

.user_data_span{
    letter-spacing: 1px;
    word-spacing: 1px;
}



@media screen and ( max-width: 1150px){

    .image_div{
        width: 100%;
        height: 250px;
    }

    .image_wrapper{
        width: 250px;
        height: 100%;
    }

 

    .usersData_div{
        position: absolute;
        left: 0;
        width: 100vw;
        padding: 10px 20px;
    }


    .usersData_div h2{
        border-bottom: 1px solid black;
        margin: 20px;
        padding: 3px;
    }
}


@media screen and (max-width: 600px){
 
    .profileSettings_link{
        position: absolute;
        z-index: 1000;
        top: -35px;
        right: -20px;
        font-size: 3.5rem;
    }


}




