

/*------------/pages/profile/settings/index.js---------------------------------*/

.profileContainer{
    display: flex;
    flex-direction: column;
    border: 2px solid orange;


}


.profileContainer_dark{
    background: var(--background_dark);
    color: var(--primary_font_color_dark);
    min-height: 130vh;
  
}



.profile_container{
    width: 100vw;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings_output_container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Zwei Spalten */
    gap: 10px; /* Abstand zwischen den Elementen */
    
}



.setting_div{
    margin: 20px;
    background: var(--background_light_opaque);
    height: 330px;
    
}


@media screen and (max-width: 1300px){


    .settings_output_container{
        transition: 0.4s ease;
        grid-template-columns: repeat(3, 1fr); 
        
    }

    .setting_div{
        height: 330px;
    }


}


@media screen and (max-width: 1000px){

    .settings_output_container{
        grid-template-columns: repeat(2, 1fr); 
    }

    .setting_div{
        height: 300px;
    }

}

@media screen and (max-width: 600px){

    .settings_output_container{
        grid-template-columns: repeat(1, 1fr); 
    }

    .setting_div{
        height: 300px;
    }

}


/*------------ALLE Acc/Prof/.../Settings.js Layouts---------------------------------*/
/*gleiche AccountSettings-js & ProfileSettings-js ab, erstelle eine Art Layout und deklariere sie hier.*/



.container{
    display: flex;
}



.settings_wrapper{
    width: 60%;
    margin: 0px 10px;
    margin-right: 70px;
}


.title{
    margin: 20px 10px;
    font-size: 1.5rem;
}












.container_dark{
    background:var(--background_dark);
    color: var(--primary_font_color_dark);
}


.settings_title{
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 1.4rem;
}


.settings_div{
    display: flex;
    margin-top: 15px;
    border-bottom: 2px solid grey;
    position: relative;
}

.settings_link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings_link_web{
    margin: 5px 20px;
    display: flex;
    align-items: center;
    display: inline-block;
}

 .settings_links_mobile{
     display: none;
     transition: 0.4s ease;
 }


.settings_link, .home_button{
    margin: 5px 10px;
    font-size: 1rem;
}

.home_button{
    position: absolute;
    right: 10px;
    font-size: 1.3rem;
}

.settings_output_container{
    min-height: 78vh;
    padding: 20px;
    margin: 20px 0px;
}


@media screen and (max-width: 1200px){

  

    .settings_link{
        margin: 5px 20px;
        font-size: 1rem;

    }

    .settings_link_web{
        display: none;
    }

    .settings_links_mobile{
        display: flex;
        align-items: center;
        margin: 5px;
    }
}