

.settings_div{
    display: flex;
    margin-top: 15px;
    border-bottom: 0.5px solid grey;
    position: relative;
    height: 60px;
}


.navigation_div{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}



.settings_link, .settings_link_web{
    width: 200px;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 5px 10px;

}

.settings_link_web{
    color: silver;
    
}



.active{
    color: var(--pink);
}




.webNavigation_btn{
    display: none;

}





.icon_container{
    width: 30%;
    display: flex;
    justify-content: end;
}

.profile_button{
    position: relative;
    right: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;;


}

.profile_button p{
    font-size: 0.7rem;
    color: silver;
}












.navigation_div{
    width: 80%;

}


.icon_container{
    width: 20%;
}



/*---------------- MOBILE NAV --------------*/

.mobileNavigation_div{
    position: absolute;
    width: 100vw;
    display: flex;
    top: 70px;



    /*border: 2px solid red;*/

}


.mobileNavigation_div li{
    border: 2px solid white;
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 0px 5px;
    color: silver;
    position: relative;
    left: 45px;
}

.mobileNavigation_div li:hover{
    color: var(--pink);
}





@media screen and (max-width: 1300px){
    
    .settings_link_web{
        display: none;
    }


    .webNavigation_btn{
        display: inline;
        width: 150px;
        height: 85%;
        cursor: pointer;
        margin: 0px 20px;
        background: var(--background_dark_opaque);
    }

    .navigation_div{
        width: 90%;
    }

    .icon_container{
        width: 10%;
    }


}




@media screen and (max-width: 1000px){

    .navigation_div{
        width: 90%;
    }



    .mobileNavigation_div li{
        left: 0;
    }

}




@media screen and (max-width: 750px){

    .navigation_div{
        width: 100%;
    }

    .settings_link{
        width: 200px;
    }

    .icon_container{
       display: none;
    }

    .webNavigation_btn{
       width: 200px;
    }



    .mobileNavigation_div{
        top: 70px;
    }

     .mobileNavigation_div li{
        left: 0;
    }
}


@media screen and (max-width: 600px){
    .webNavigation_btn{
        padding: 0;
        margin: 0px 15px 0px 5px;
        width: 90px;
        height: 40px;
    }

    .settings_link{
        font-size: 0.9rem;
        padding: 0;
        margin: 0px 5px;
        width: 100px;
    }
}