@tailwind base;
@tailwind components;
@tailwind utilities;





:root {

  /* !nightmode */
  --background-primary: #FCFAF9;
  --hover-font-dark: #333333;
  --hover-font-dark_opaque: rgba(51,51,51, 0.5);
  

  
  --pink: #F7567C;
  --pink_opaque: rgba(247,86,124, 0.8);
  --beige: beige;
  --background_light: rgba(255,255,255);
 

  

   /* nightmode */
  --background_dark: #201E1F;
  --hover-font-light: silver;
  --background-secondary: rgba(192,192,192, 0.3);




  --background_dark_opaque: rgba(0, 0, 0, 0.1);
  --primary_font_color_dark: silver;
 
}

@media (prefers-color-scheme: dark) {
  :root {
     --pink: #F7567C;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


h3 {
 font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Cookie&family=Indie+Flower&family=Sacramento&display=swap')


