

.main_container{
    margin: 0;
    width: 100vw;
    display: flex;
    background: var(--background_dark);
    padding: 0;
}

.main_container_light{
    margin: 0;
    width: 100vw;
    display: flex;
    background: transparent;
    padding: 0;
}
