
.container, .container_dark{
    width: 100%;
    min-height: 95vh;
    background: var(--background-primary);
    border-radius: 2px;
    z-index: 10000;
    padding: 20px;


}

.container_dark {
    background: var(--background_dark);

}


.form_div{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    margin-bottom: 30px;

}

.title_light, .title_dark{
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.5rem;
    border-bottom: 2px solid grey;
}

.title_dark{
    color: beige;
}


.usersImage_div{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.file_input{
    display: none;
}


.file_btn{
  border: 0;
  width: 30%;
  padding: 0.5rem 1.5rem;
  background: var(--background_btn);
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
  margin: 0px 30px;
  z-index: 1000;
}


.preview{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4abb9;
  position: absolute;
  margin: 0px 30px;
  object-fit: cover;
  
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}

.image:hover{
    box-shadow: 0px 0px 4px var(--pink_opaque);
    border-radius: 5px;
    
}

.resized{
    height: 100vh;
}






.alternativeImg_div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;

   
   
}


.alternative_wrapper{
    position: relative;
}




.alternativeImage_input{
    border: 2px solid red;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;

}


.alternativeImage_input {
    /* hiding browser el */
    appearance: none;
    /* Safari support */
    -webkit-appearance: none;
    border: 0.2rem solid rgba(255,255,255, 0.5);
    background-color:rgba(255,255,255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.alternativeImage_input:focus-visible {
    outline-offset: 0;
}


.alternativeImage_input:checked {
    outline-color: white;
    border: 0.2rem solid var(--pink_opaque);
    background-color: var(--pink);

    animation: box-shadow-animation 0.4s linear 2 alternate;
}

.alternativeImage_input:checked::after {
  content: "🫶🏼"; 
  display: inline-block;
  margin-left: 5px; 
}

.alternativeImg{
    width: 130px;
    height: 130px;
    margin: 20px;
    object-fit: cover;
}


.form_title{
    border-bottom: 2px solid grey;
    margin: 30px 10px;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    color: var(--pink);
    letter-spacing: 1px;
}



.form_title:focus{
    outline: none;
}

.description{
    margin: 5px 10px;
    background: transparent;
    border: none;
    padding: 10px;
    height: 400px;
    cursor: pointer;
    border-bottom: 2px solid grey;
    color: var(--pink);
    letter-spacing: 1px;
    
}


.description:focus{
    outline: none;
}




.submit_btn{
    margin: 10px;
    width: 100px;
    padding: 4px;
}


.submit_btn{
    color: white;
    background:var(--pink);
}










@keyframes box-shadow-animation {
    0% {
    box-shadow: 0 0 0 white;
  }
  100% {
    box-shadow: 0 0 10px var(--pink);
  }
}








.submitAlternativePost{
    border: 2px solid red;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin-top: 30px;
}



.successMessage, .goBack_link{
    color: green;
    height: 5vh;
    display: flex;
    align-items:center;
    padding-left: 10px;
}

.goBack_link{
    color: var(--pink);
}

.errorMessage{
    color: darkred;
}


/*
@media screen and (max-width: 1200px){
    .container{
        left: 10px;
    }
}

@media screen and (max-width: 1100px){

    .container{
        left: 15px;
    }
}



@media screen and (max-width: 1000px){

    .container{
        left: 10px;
   
    }
}



@media screen and (max-width: 600px){

    .container{
        left: 6px;
        height: 98vh;
     
    }
}

*/


@media screen and (max-width: 400px){
    .container{
        padding: 20px 5px;
    }


    .description, .form_title{
        margin: 5px 0;
        border: none;
        border-top: 0.5px solid grey;
        border-bottom: 0.5px solid grey;
    }

    .title_light, .title_dark{
       font-size: 1.2rem;
    }
}